<footer class="page-footer footer-section">
  <div class="container">
    <div class="row">
      <div class="col l6 s12 center">
        <a class="logo" routerLink="inicio">
          <img src="../assets/resources/images/Divide-ai-logo-white.png" id="logo-footer" class="img-responsive">
        </a>
      </div>
      <div class="row">
        <div id="col-b" class="col l4 offset-l2 s12 center ">
          <ul id="social-links">
            <div class="col s4">
              <li>
                <a class="grey-text text-lighten-3" href="https://github.com/carlosportella16" target="_blank">
                  <img src="../assets/resources/images/github.png" alt="github-icon">
                </a>
              </li>
            </div>
            <div class="col s4">
              <li>
                <a class="grey-text text-lighten-3" href="https://www.instagram.com/carlosportella16/" target="_blank">
                  <img src="../assets/resources/images/instagram.png" alt="instagram-icon">
                </a>
              </li>
            </div>
            <div class="col s4">
              <li>
                <a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/carlosportella16/" target="_blank">
                  <img src="../assets/resources/images/linkedin.png" alt="linkedin-icon">
                </a>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      &copy; Copyright {{year}} - Todos os direitos reservados
    </div>
  </div>
</footer>
