<div class="navbar-fixed" style="z-index: 1001 !important">

  <nav class="menu-header z-depth-2">
    <div class="container">
      <div id="wrapper" class="nav-wrapper">
        <a routerLink="inicio" class="brand-logo"><img id="my-logo" src="../assets/resources/images/Divide Aí! logo.png"
            alt=""></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i id="icon-menu"
            class="material-icons">menu</i></a>

          <ul id="menu" class="right hide-on-med-and-down">
            <li>
              <a routerLink="inicio">Início</a>
            </li>
            <li>
              <a routerLink="/adicionarDespesa">Adicionar Despesa</a>
            </li>
            <li>
              <a routerLink="/listaDespesas">Lista de Despesas</a>
            </li>
            <li>
              <a routerLink="/about">Sobre</a>
            </li>
          </ul>

          <ul class="sidenav" id="mobile-demo" #mobile>
            <div id="img-logo" class="center">
              <img src="../assets/resources/images/Divide-ai-logo-white.png" alt="">
            </div>
            <div id="list" class="center">
              <li><a routerLink="inicio">Início</a></li>
              <li><a routerLink="/adicionarDespesa">Adicionar Despesa</a></li>
              <li><a routerLink="/listaDespesas">Lista de Despesas</a></li>
              <li><a routerLink="/about">Sobre</a></li>
            </div>
          </ul>
      </div>
    </div>
  </nav>
</div>
