<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Divide-Aí</title>

  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet" />
</head>

<body>
  <!--Menu-->
  <header>
    <app-menu></app-menu>
    <!--Fim menu-->
  </header>

  <!--main-->
  <main>
    <app-tela-inicio></app-tela-inicio>
  </main>

  <!--footer-->
  <app-footer></app-footer>

</body>

</html>
