h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  color: var(--secondaryColor);
  margin-top: 60px;
  padding: 10px 0px 10px 0px;
}

h4#sum-amount{
  background-color: var(--table);
  border: solid 1px var(--bnt-lista);
  border-radius: 10px;

}

.result {
  background-color: var(--table);
  border: solid 2px var(--primaryColor) !important;
  padding: 10px;
  margin-bottom: 30px;
}

button {
  color: var(--backgroundApp);
  background-color: var(--bnt-lista);
  border-radius: 40px;
  text-transform: uppercase;
  font-weight: 700;
}

button:hover {
  background-color: var(--btn-lista-hover);
  cursor: pointer;
}
