<div class="wrapper">
  <div class="container center">
    <h4>Cadastro de Despesas</h4>
    <h6>Entre com os dados da despesa</h6>
  </div>
  <div class="col s12">
    <div id="msg-login" class="card-panel white-text" [class.red]="!this.isSuccess" [class.blue]="this.isSuccess"
      *ngIf="this.isShowMessage">
      {{ this.message }}
    </div>
  </div>
  <div class="row container">
    <form class="col s12 center" #form="ngForm" (submit)="onSubmit()">
      <div class="row">
        <div class="input-field">
          <input
          id="amount"
          class="validate"
          type="text"
          name="input-amount"
          mask="separator.2"
          [thousandSeparator]="'.'"
          [decimalMarker]="','"
          prefix="R$ "
          [dropSpecialCharacters]="true"
          [showMaskTyped]="false"
          #cost="ngModel"
          [(ngModel)]="this.expense.cost"
          required
          />
          <label for="amount">Valor Pago</label>
          <div class="red-text" *ngIf="cost.errors?.['required'] && cost.touched">
            Por favor, informe o valor da despesa.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field ">
          <input
          id="description"
          name="input-description"
          type="text"
          class="validate"
          #description="ngModel"
          [(ngModel)]="this.expense.description"
          maxlength="40"
          required
          />
          <label for="description">Descrição</label>
          <div class="red-text" *ngIf="description.errors?.['required'] && description.touched">
            Por favor, informe a descrição despesa.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input
          id="date"
          type="date"
          class="validate"
          #data="ngModel"
          name="input-date"
          [(ngModel)]="this.expense.date"/>
          <label for="date">Data</label>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <button
          class="btn-submit"
          type="submit"
          [disabled]="!form.valid"
          >Adicionar Despesa</button>
        </div>
        <div class="col s6">
          <button class="btn-lista" routerLink="/listaDespesas">Ver Lista Despesas</button>
        </div>
      </div>
    </form>
  </div>
</div>
