<div class="container center">
  <div class="col s12">
    <div id="msg-login" class="card-panel white-text" [class.red]="!this.isSuccess" [class.blue]="this.isSuccess"
      *ngIf="this.isShowMessage">
      {{ this.message }}
    </div>
  </div>
  <div class="table">
    <div class="table">
      <!--
          Utilizando NgIf:
        -->
      <table class="centered" *ngIf="expenses && expenses!.length > 0">
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Data</th>
            <th>Valor</th>
            <th id="delete"></th>
          </tr>
        </thead>
        <!--
          Utilizando Pipes e  NgFor:
        -->
        <tbody>
          <tr *ngFor="let e of expenses">
            <td>{{ e.description | uppercase }}</td>
            <td>{{e.date | date: "dd/MM/yyyy"}}</td>
            <td>{{e.cost | currency: "BRL"}}</td>
            <td class="right">
              <a><i class="material-icons my-icon-size" (click)="onDelete(e)">delete</i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s6">
          <h4>Total:</h4>
        </div>
        <div class="col s6">
          <app-total-expenses></app-total-expenses>
        </div>
        <div class="row">
          <form class="col s12" #formP="ngForm" (submit)="onSplitUp()">
            <div class="col s6">
              <h4>Total dividido por:</h4>
            </div>
            <div class="col s6">
              <div id="input" class="input-field">
                <input id="input-people" name="input-people" class="validate" type="number" [(ngModel)]="this.people"
                  required />
                <label for="input-people">N° de Pessoas</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <div class="btn-dividir">
                  <button [disabled]="!formP.valid" class="btn-submit" type="submit" (click)="onSplitUp()">$ Dividir $</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="container result">
        <div class="row">
          <app-result-component [value]="total" [hidden]="this.showResult"></app-result-component>
        </div>
      </div>
    </div>
  </div>
